.parent{

width: 70vw;
height: 120vh;
background-color: beige;
display: flex;
justify-content: start;
flex-wrap: wrap;

}


.item{
width: 60px;
height: 40px;
background-color: brown;


}